@import '../variables';

.popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: $white;
  box-shadow: 0px 5px 15px $black-pizza;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;

  &__list {
    overflow: hidden;

    &-item {
      padding: 12px 20px;
      cursor: pointer;

      &:hover {
        background: $orange-sort;
      }

      &--active {
        padding: 12px 20px;
        font-weight: bold;
        color: $orange;
      }
    }
  }
}
